:root{
  --main-color: #B5FFE1;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;

  min-width: 405px;
}

.test{
  width: 100%;
  height: 100vh;

  margin: auto;

  display: flex;
  justify-content: center;
}

.container{
  width: 25em;
  height: 25em;

  background-color: var(--main-color);

  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 1em;

  align-items: center;
}

#container_dados{
  width: 15em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

input[type="number"]{
  padding: 0.5em;

  background-color: transparent;

  border: none;
  border-bottom: 1px solid #388697;
}

input[type="number"]:focus{
}

input[type="button"]{
  padding: 0.5em;

}

#container_resultado{
  height: 100%;
}

#resultado{
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 1.5;
}

